.black {
    background-color: black;
}
.red {
    background-color: white;
}
#orb {
    height: 300px;
    width: 300px;
    border-radius: 100%;
    padding: 20px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    
}
.sun {
    background-color: yellow;
    border: 10px solid black;
}
.moon {
    background-color: gray;
    border: 10px solid black;
}
.sun:hover {
    border: 20px solid red;
}
